.accordion {
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($grey-100, 5%);
    background: darken($grey-100, 1%);
  }
  &__item {
    padding: 20px 30px;
    border-bottom: 1px solid darken($grey-100, 5%);
  }
  &__item--selected {
    background-color: $white;
    .accordion__label {
      color: $black;
    }
    .accordion__circle {
      &:after {
        position: absolute;
        content: '';
        height: 7px;
        width: 7px;
        background: $blue;
        @include border-radius(25px);
      }
    }
    .accordion__list {
      display: block;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    font-size: $font-label;
    color: $blue;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__circle {
    position: relative;
    width:15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darken($grey-100, 5%);
    @include border-radius(25px);
    background: $white;
    margin-right: 15px;
  }
  &__input {
    display: none;
  }
  &__bold {
    font-weight: 600;
    font-size: 1.2em;
  }
  &__list {
    background: #fff;
    padding: 0 30px 30px 30px;
    display: none;
  }
}