.domains {
  margin-top: 60px;
  margin-bottom: 60px;
  &__container {
    margin-top: 30px;
    border: 1px solid darken($grey-100, 5%);
  }
  &__titles {
    width:100%;
    padding: 5px 0px;
    background: darken($grey-100, 1%);
    display: flex;
    font-size: $font-size-basic * 1.1;
  }
  &__title {
    flex: 1;
    margin:15px;
    margin-left: 0px;
    &:first-child {
      margin-left: 15px;
    }
  }
  &__title--last {
    margin-right: 70px;
  }
  &__fields {
    width:100%;
    display: flex;
    background: $white;
    border-bottom: 1px solid darken($grey-100, 4%);
  }
  &__field {
    flex: 1;
    margin:15px;
    margin-left: 0px;
    &:first-child {
      margin-left: 15px;
    }
  }
  &__field--last {
    flex:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    border-left: 1px solid darken($grey-100, 5%);
  }
  &__field--button {
    width: percentage(1 / 3);
    flex:unset;
    padding-right: 36px;
  }
  &__buttons {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  @media (max-width: 575.98px) {
    &__field--button {
      width: percentage(100);
    }
  }
}
