.input {
  width: 100%;
  padding: 8px;
  background: $white;
  color: $body-text;
  text-align: left;
  &:active, &:focus {
    outline: 0;
    border:1px solid darken($grey-200, 5%);
  }
  &--text {
    border:1px solid darken($grey-200, 5%);
    border-bottom: 1px solid darken($grey-200, 20%);
  }
  &--button {
    color: darken($grey-200, 25%);
    border:1px solid darken($grey-200, 5%);
    border-bottom: 1px solid darken($grey-200, 20%);
    padding-left: 30px;
    background: url("../img/plus_icon.svg")no-repeat left 10px center;
    background-size: 10px;
  }
  &--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    border:1px solid darken($grey-200, 5%);
    border-bottom: 1px solid darken($grey-200, 20%);
  }
 }