.list {
  font-size: $fon-size-list;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  &__item {
    flex: 0 0 50%;
    padding-left: 30px;
    margin-bottom: 15px;
    background: url("../img/check_icon.svg")no-repeat left center;
    background-size: 20px;
  }
  @media (max-width: 575.98px) {
    &__item {
      flex: 0 0 100%;
    }
  }
}