.nav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top:0px;
  background: $white;
  color:$blue;
  border-bottom: 2px solid $grey-200;
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
  }
  &__item {
    border-left: 1px solid $grey-200;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    color: $blue;
  }
  &__img {
    height: 70px;
    padding: 20px;
  }
  &__img--left {
    border-right: 1px solid $grey-200;
  }
  @media (max-width: 575.98px) {
    height: 55px;
    &__item {
      padding: 0 15px;
    }
    &__img {
      padding: 15px;
      height: 55px;
    }
  }
}