body {
  margin:0px;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style:none;
}

a {
  text-decoration: none;
}

hr {
  border-top:0px;
  border-bottom: 1px solid darken($grey-200,3%);
}