//colors
$white: #fff;
$black: #000;
$grey-100: #fafafa;
$grey-200: #f7f7f7;
$blue: #495e73;
$body-text: #6c6c6c;
$h1-color:$blue;
$h2-color: #515151;

//font-family
$font-family-first: 'Source Sans Pro', sans-serif;
$font-family-second: 'Open Sans', sans-serif;
$font-family-default: $font-family-first;

//font-size
$font-size-basic: 14px;
$font-h1: $font-size-basic * 1.9;
$font-label: $font-size-basic * 1.6;
$fon-size-list: $font-size-basic * 1.2;