body {
  margin: 0px;
  padding: 0px; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

a {
  text-decoration: none; }

hr {
  border-top: 0px;
  border-bottom: 1px solid #efefef; }

body {
  background: #fafafa;
  margin-top: 100px;
  padding-bottom: 150px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #6c6c6c; }

.nav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  background: #fff;
  color: #495e73;
  border-bottom: 2px solid #f7f7f7;
  display: flex;
  justify-content: space-between; }
  .nav__list {
    display: flex; }
  .nav__item {
    border-left: 1px solid #f7f7f7;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__link {
    color: #495e73; }
  .nav__img {
    height: 70px;
    padding: 20px; }
  .nav__img--left {
    border-right: 1px solid #f7f7f7; }
  @media (max-width: 575.98px) {
    .nav {
      height: 55px; }
      .nav__item {
        padding: 0 15px; }
      .nav__img {
        padding: 15px;
        height: 55px; } }

h1 {
  font-family: "Open Sans", sans-serif;
  color: #495e73;
  font-size: 26.6px; }

h2 {
  color: #515151;
  font-weight: 500; }

.domains {
  margin-top: 60px;
  margin-bottom: 60px; }
  .domains__container {
    margin-top: 30px;
    border: 1px solid #ededed; }
  .domains__titles {
    width: 100%;
    padding: 5px 0px;
    background: #f7f7f7;
    display: flex;
    font-size: 15.4px; }
  .domains__title {
    flex: 1;
    margin: 15px;
    margin-left: 0px; }
    .domains__title:first-child {
      margin-left: 15px; }
  .domains__title--last {
    margin-right: 70px; }
  .domains__fields {
    width: 100%;
    display: flex;
    background: #fff;
    border-bottom: 1px solid #f0f0f0; }
  .domains__field {
    flex: 1;
    margin: 15px;
    margin-left: 0px; }
    .domains__field:first-child {
      margin-left: 15px; }
  .domains__field--last {
    flex: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    border-left: 1px solid #ededed; }
  .domains__field--button {
    width: 33.33333%;
    flex: unset;
    padding-right: 36px; }
  .domains__buttons {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    padding: 15px; }
  @media (max-width: 575.98px) {
    .domains__field--button {
      width: 10000%; } }

.input {
  width: 100%;
  padding: 8px;
  background: #fff;
  color: #6c6c6c;
  text-align: left; }
  .input:active, .input:focus {
    outline: 0;
    border: 1px solid #eaeaea; }
  .input--text {
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #c4c4c4; }
  .input--button {
    color: #b7b7b7;
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 30px;
    background: url("../img/plus_icon.svg") no-repeat left 10px center;
    background-size: 10px; }
  .input--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #c4c4c4; }

.icon {
  max-height: 20px; }
  .icon--remove:hover {
    cursor: pointer; }

.button {
  padding: 15px 60px;
  background: #495e73;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600; }
  @media (max-width: 575.98px) {
    .button {
      padding: 15px 30px; } }

.accordion__container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  background: #f7f7f7; }

.accordion__item {
  padding: 20px 30px;
  border-bottom: 1px solid #ededed; }

.accordion__item--selected {
  background-color: #fff; }
  .accordion__item--selected .accordion__label {
    color: #000; }
  .accordion__item--selected .accordion__circle:after {
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    background: #495e73;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; }
  .accordion__item--selected .accordion__list {
    display: block; }

.accordion__content {
  display: flex;
  justify-content: space-between; }

.accordion__label {
  font-size: 22.4px;
  color: #495e73;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center; }

.accordion__circle {
  position: relative;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededed;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background: #fff;
  margin-right: 15px; }

.accordion__input {
  display: none; }

.accordion__bold {
  font-weight: 600;
  font-size: 1.2em; }

.accordion__list {
  background: #fff;
  padding: 0 30px 30px 30px;
  display: none; }

.list {
  font-size: 16.8px;
  display: flex;
  flex-flow: wrap;
  width: 100%; }
  .list__item {
    flex: 0 0 50%;
    padding-left: 30px;
    margin-bottom: 15px;
    background: url("../img/check_icon.svg") no-repeat left center;
    background-size: 20px; }
  @media (max-width: 575.98px) {
    .list__item {
      flex: 0 0 100%; } }
